.location {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 5px;

}

.location:hover {
  border: 1px solid #fff;
}

.location-icon {
  font-size: 2rem;
  color: #fff;
}

.deliver-to-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2px;
}

.deliver-to {
  font-weight: 500;
  color: #ccc;
  font-size: 12px;
}

.country {
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1;
  color: #fff;
  font-size: 14px;
}